# Dictionary And its functions

1. Dictionary is a mutable data type in Python.
2. A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
   in curly braces {}.
3. Keys must be unique in a dictionary, duplicate values are allowed.

- clear()
- copy()
- fromkeys()
- get()
- items()
- keys()
- pop()
- popitem()
- setdefault()
- update()
- values()

In [1]:
mydict = {} # empty dictionary
mydict

{}

In [3]:
type(mydict)

dict

In [8]:
mydict = dict() # empty dictionary
mydict

{}

In [9]:
type(mydict)

dict

In [10]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [11]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [12]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [13]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [14]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [15]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [16]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [17]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dict with list types
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [18]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat' , 'hat')} #dict with all types
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [19]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'c': None, 'b': None, 'a': None, 'd': None}

In [20]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'c': 10, 'b': 10, 'a': 10, 'd': 10}

In [21]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'c': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30]}

In [22]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

In [23]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [24]:
mydict[1] # Access item using key

'one'

In [25]:
mydict.get(1)  # Access item using get() method

'one'

In [26]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [27]:
mydict1['Name'] # Access item using key

'Asif'

In [28]:
mydict1.get('job)  #Access item using get() method

'Analyst'

In [29]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [30]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [31]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [32]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [33]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [34]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [35]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [36]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [37]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [38]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

In [1]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [2]:
mydict1 = mydict # Create a new reference "mydict1"

In [3]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2332736174720, 2332736174720)

In [4]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [5]:
id(mydict2) # The address of mydict2 will be different from mydict

2332736221312

In [6]:
mydict['Address'] = 'Mumbai'

In [7]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [8]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [9]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [11]:
for i in mydict1:
  print(mydict1[i]) # Dictionary items

Asif
12345
1991
Mumbai

In [13]:
for i in mydict1:
  print(i , ':' , mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Mumbai

In [14]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [15]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [16]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [17]:
all(mydict) #if 0 is in the value then returns false else true

True

In [24]:
mydict3={0:'Zero',1:'one',2:'two'}
mydict3

{0: 'Zero', 1: 'one', 2: 'two'}

In [26]:
all(mydict3) # Will Return false as one value is false (Value 0)

False

In [27]:
any(mydict3) #no other values except zero then returns false else true

True

In [28]:
mydict4 = {0: 'zero', False: 'false', None: 'none'}
mydict4

{0: 'false', None: 'none'}

In [29]:
any(mydict4) #no other values except zero then returns false else true

False