# Tuple & its functions:-
1.count()     
2.index()

In [1]:
t=() #tuple starts with ()
t

()

In [2]:
print(type(t))

<class 'tuple'>

In [3]:
t1=(10,20,30,40,40)
t1

(10, 20, 30, 40, 40)

In [4]:
len(t1)

5

In [5]:
t1.count(10) #to count how much specific values in the elements

1

In [6]:
t1.count(40)

2

In [7]:
t1

(10, 20, 30, 40, 40)

In [8]:
t1.index(20)

1

In [9]:
t2=(100, 3.4, 'Dheeraj', True, (1+2j), [1,2,3], (5,6,7)) #multipal datatype and Nested tuple both allowed
t2

(100, 3.4, 'Dheeraj', True, (1+2j), [1, 2, 3], (5, 6, 7))

In [10]:
t1

(10, 20, 30, 40, 40)

In [11]:
t2

(100, 3.4, 'Dheeraj', True, (1+2j), [1, 2, 3], (5, 6, 7))

In [12]:
icici=(12345,'abcd678',332000,98765)
icici

(12345, 'abcd678', 332000, 98765)

In [13]:
icici[0]=1234 #we can't change values in tuple coz tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [14]:
t1

(10, 20, 30, 40, 40)

In [15]:
t4=t1*2 #we can print multiple tuple
t4

(10, 20, 30, 40, 40, 10, 20, 30, 40, 40)

In [16]:
del(t4) #to delete the tuple

In [17]:
d4

NameError: name 'd4' is not defined

In [18]:
t1[:] # indexing

(10, 20, 30, 40, 40)

In [19]:
t1[0:3]

(10, 20, 30)

In [20]:
t1[::-1]

(40, 40, 30, 20, 10)

In [21]:
t1[0:10:2]

(10, 30, 40)

In [22]:
t1

(10, 20, 30, 40, 40)

In [23]:
for i in t1: #loop to print in a colomn
    print(i)

10
20
30
40
40

In [24]:
for i in enumerate(t1): # print elements along with indexing
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 40)

In [25]:
t1

(10, 20, 30, 40, 40)

In [26]:
10 in t1 #family member

True

In [27]:
50 in t1

False

In [28]:
t5=(1,3,2,5,4,6,5,7,6,8,7,9,8)
t5

(1, 3, 2, 5, 4, 6, 5, 7, 6, 8, 7, 9, 8)

In [29]:
sorted(t5) #sorting in assending order

[1, 2, 3, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9]